div {
  width: 100%;
  font-family: "Roboto";
  font-weight: 400;
  padding-bottom: 20px;
}

.collapse {
  width: 5px;
  background-color: gray;
}

thead {
  background-color: gray;
  font-size: larger;
}

tr:hover {
  background-color: lightgray;
}

table {
  border: 1px solid black;
  width: 100%;
}
table tr td table {
  border: 1px solid gray;
}

.popup-overlay {
  width: 500px;

  overflow: hidden;

  background: pink;

  box-shadow: 0 0 10px black;

  border-radius: 10px;

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 9999;

  padding: 10px;

  text-align: center;

  display: none;
}

.popup-overlay.active {
  visibility: visible;
}
